*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 90vh;
    background: rgb(13 56 13 / 68%);
}

.header{
    margin: 10px;
    text-align: center;
}

.memory-game{
    width: 90%;
    height: 500px;
    border: 2px solid rgba(3, 75, 3, 0.815);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;
}

.memory-card{
    width: 12.5%;
    height: 33.333%;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active{
    transform: scale(.97);
    transition: transform .1s;
}

.memory-card.flip{
    transform: rotateY(180deg);
}

.front-face, .back-face{
    position: absolute;
    padding: 10px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front-face{
    transform: rotateY(180deg);
}

.memory-card.reset{
    transition: transform 0s;
}

.dif{
    margin: 10px;
    padding: 10px;
}

.dif.red{
    color: red;
    background-color: black;
}

.dif.green{
    color: green;
    background-color: black;
    margin-left: 8%;
}

.dif.yellow{
    color: yellow;
    background-color: black;
}

.remaining{
    margin-top: 2%;
    font-size: larger;
    font-weight: bolder;
    float: right;
    margin-right: 7%;
}

.dif.selected{
    font-size: 20px;
}

@media screen and (min-width:2000px){
    .memory-game{
        height: 1000px;
    }

    .remaining{
        font-size: xx-large;
    }
}

@media screen and (max-width:500px){
    .front-face, .back-face{
        padding: 2px;
    }

    .remaining{
        margin-left: 25%;
        float: none;
        margin-right: 0;
    }

    .dif.green{
        margin-left: 20%;
    }
}